<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>User name</th>
        <th>Role</th>
        <th>Login Time</th>
        <th>Logout Time</th>
      </tr>
    </thead>
    <tbody *ngIf="users?.length != 0">
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.loginTime }}</td>
            <td>{{ user.logoutTime }}</td>
        </tr>
    </tbody>
    <tbody *ngIf="users?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
    <tbody>
  </table>