<div class="col-sm-10 offset-sm-2">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>User name</th>
          <th>Role</th>
          <th>Login Time</th>
          <th>Logout Time</th>
        </tr>
      </thead>
      <tbody *ngIf="users?.length != 0">
          <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.loginTime }}</td>
              <td>{{ user.logoutTime }}</td>
          </tr>
      </tbody>
    </table>
  </div>